.first-section-third {
    height: 100vh;
}

.landing-page-third {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.first-row-third {
    width: 100%;
    margin-top: 4em;
}

.content-container1-third {
    width: 90%; /* Adjusted width for better spacing */
}

.content-container2-third {
    display: flex;
    justify-content: space-between; /* Use space-between to position items at the start and end */
    align-items: center;
    margin-right: 5em;
    position: relative;
}

.content-container2-third::after {
    content: '';
    position: absolute;
    bottom: -6em; /* Adjust the distance of the line break from the content */
    left: 54%; /* Set left to 50% for centering */
    transform: translateX(-50%); /* Adjust to center the line */
    width: 91%; /* Adjust the width of the line */
    height: 1px;
    background-color: #d3d3d3; /* Faint line color */
}

.icon-image-third {
    width: 213px; /* Set the size of the icon image */
    height: 126px;
    border-radius: 100%;
}

.laptop-image-third {
    width: 500px; /* Adjust size of the circular image */
    height: 300px;
    border-radius: 20px;
    position: relative; /* Make the image container relative for absolute positioning */
}

.text-container-third {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Adjust spacing between text and image */
    margin-left: 120px; /* Adjusted margin-left */
}

.big-text-third {
    font-size: 7em; /* Adjust font size */
    font-weight: bolder; /* Optionally make the text bold */
}

.grey-text-third {
    color: #d3d3d3;
}

.play-button-wrapper-third {
    position: absolute;
    top: 234px; /* Adjust the top position as needed */
    left: 1210px; /* Adjust the left position as needed */
    z-index: 2; /* Ensure the play button appears above other content */
}

.play-button-third {
    width: 50px; /* Set the size of the play button icon */
    height: 50px;
    position: absolute;
    top: -25px; /* Align to the top of the image container */
    left: -25px; /* Align to the left of the image container */
    z-index: 2; /* Ensure the play button appears above other content */
    border-radius: 50%; /* Make the button circular */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Add a subtle shadow */
}

.image-container-third {
    position: relative;
}

.second-row-third {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8em; /* Adjust as needed */
    margin-left: 7em;
    margin-right: 5em;
}

.icons-third {
    display: flex;
    align-items: center;
    margin-left: 7em;
}

.analytics-pill-third {
    background-color: #ffd62d;
    color: black;
    font-size: 4em;
    padding: 1em;
    border-radius: 1.5em;
    font-family: monospace;
    height: 3em;
    width: 9em;
    overflow: hidden;
    display: flex;
    justify-content: center;  /* Center the content horizontally */
    align-items: center;      /* Center the content vertically */
    position: relative;       /* Position the content relative to the parent */
}

.marquee-text {
    font-size: 2em;
    white-space: nowrap;
    animation: marquee 8s linear infinite;
    display: inline-block;
    position: absolute;  /* Position the text absolutely within the pill div */
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
        padding-right: 1em; /* Adjust as needed */
    }
}

.left-div-third {
    width: 45%; /* Adjust the width as needed */
}

.button-container-third {
    display: flex;
    justify-content: center;
    align-items: center;
}

.demo-button {
    background-color: #f3f2f3;
    color: black;
    border: 1px solid white;
    border-radius: 1em;
    padding: 10px 20px;
    margin-right: 10px;
    width: 13em;
    font-size: 0.8em; /* Adjust the font size as needed */
    font-weight: normal; /* Adjust the font weight as needed */
}

.free-button {
    background-color: #ff4925;
    color: white;
    border: 1px solid #ff4925;
    border-radius: 1em;
    padding: 10px 20px;
    width: 13em;
    font-size: 0.8em; /* Adjust the font size as needed */
    font-weight: normal; /* Adjust the font weight as needed */
}