body {
    margin: 0;
    padding: 0;
}

.second-section-second {
    height: 100vh;
    width: 100%;
    background-color: #faf9fa;
    border-radius: 30px;
    padding: 20px; /* Adjust the padding as needed */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.landing-page-second {
    display: flex;
    flex-direction: column; /* Change to column to stack rows vertically */
    justify-content: flex-start;
    align-items: center; /* Center content horizontally */
    height: 100vh;
    background-color: white;
    width: 100%;
}

.first-row-second {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 165px;
}

.second-row-second {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.content-container1-second {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.content-container2-second {
    width: 100%;
    margin-top: 4em;
}

.icon-image-second {
    width: 213px; /* Set the size of the icon image */
    height: 126px;
    border-radius: 100%;
}

.icon-image3-second {
    width: 162px; /* Set the size of the icon image */
    height: 126px;
    border-radius: 100%;
}

.laptop-image-second {
    width: 500px; /* Adjust size of the circular image */
    height: 300px;
    border-radius: 20px;
    position: relative; /* Make the image container relative for absolute positioning */
}

.text-container-second {
    width: 35%; /* 70% width for text-container */
    margin-left: 100px;
}

.text-container2-second {
    width: 21%; /* 30% width for text-container2 */
    margin-top: 2em;
    margin-right: 10em;
    font-size: 19px;
}

.grey-text-second {
    color: #d3d3d3;
}

.side-image-second {
    width: 50px; /* Adjust size of the side image */
    height: 50px;
    margin-top: 10px; /* Adjust spacing between text and image */
}

.play-button-wrapper-second {
    position: absolute;
    top: 234px; /* Adjust the top position as needed */
    left: 1210px; /* Adjust the left position as needed */
    z-index: 2; /* Ensure the play button appears above other content */
}

.play-button-second {
    width: 50px; /* Set the size of the play button icon */
    height: 50px;
    position: absolute;
    top: -25px; /* Align to the top of the image container */
    left: -25px; /* Align to the left of the image container */
    z-index: 2; /* Ensure the play button appears above other content */
    border-radius: 50%; /* Make the button circular */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Add a subtle shadow */
}

.image-container-second {
    display: flex;
    justify-content: center; /* Center the child elements horizontally */
    align-items: center; /* Center the child elements vertically */
}

.image-container-second div {
    flex: 1;
    box-sizing: border-box;
    padding: 0 10px; /* Adjust the padding as needed */
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
}

.first-text-second {
    font-size: 2em; /* Adjust font size */
    font-weight: bold; /* Optionally make the text bold */
}

.second-text-second {
    font-size: 1em; /* Adjust font size */
    font-weight: bold; /* Optionally make the text bold */
}

/*Container 3 styling*/
.content-container3-second {
    display: flex;
    align-items: center;
    margin-left: 0em;
    margin-top: 5em;
    justify-content: center;
}

.up-to-text {
    font-size: 40px;
    margin-bottom: -75px;
    margin-right: 35px;
}

.percentage-text {
    font-size: 150px;
    font-weight: bold;
    margin-bottom: 10px;
}

.description-text {
    font-size: 18px;
    text-align: left;
    width: 36%;
    margin-left: 48px;
}

.video-element {
    width: 70%; /* Set the width to 100% of the container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 20px; /* Optional: Add border radius */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Optional: Add a box shadow */
}
